@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #00252e;
}

nav {
  padding: 40px 60px 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .button-nav-light {
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ff8fd8;
  border: 1px solid #ff52bf;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: -4px 2px 26px -1px rgba(0, 0, 0, 0.24);
          box-shadow: -4px 2px 26px -1px rgba(0, 0, 0, 0.24);
  white-space: nowrap;
}

.hero-section {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 100px;
}

.hero-section .main-header-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 40px;
}

.hero-section .hero-section-text {
  margin-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .main-body-text {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  opacity: 0.7;
  font-weight: 600;
  width: 45vw;
  margin-bottom: 40px;
}

.button-get-started {
  background: -webkit-gradient(linear, left top, right top, from(#ff52bf), color-stop(#ff64c6), color-stop(#ff73cc), color-stop(#ff82d2), to(#ff8fd8));
  background: linear-gradient(to right, #ff52bf, #ff64c6, #ff73cc, #ff82d2, #ff8fd8);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px 50px;
  -webkit-box-shadow: -4px 2px 26px -1px rgba(0, 0, 0, 0.24);
          box-shadow: -4px 2px 26px -1px rgba(0, 0, 0, 0.24);
}

.metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 200px;
}

.metrics .card-text {
  text-align: center;
}

.metrics h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 10px;
}

.metrics p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  opacity: 0.5;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.slogan .slogan-text-container h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
}

.slogan .slogan-text-container p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: justify;
  width: 70%;
  opacity: 0.7;
}

.slogan .slogan-img {
  text-align: center;
}

.slogan img {
  height: auto;
  width: 50%;
}

.slogan-1,
.slogan-3 {
  background: #f5faff;
  position: relative;
}

.slogan-1::before {
  content: url(../images/bg-section-top-desktop-1.svg);
  position: absolute;
  bottom: 40%;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slogan-1::after {
  content: url(../images/bg-section-bottom-desktop-1.svg);
  position: absolute;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  top: 100%;
}

.slogan-2 .slogan-img {
  text-align: left;
}

.slogan-3::before {
  content: url(../images/bg-section-top-desktop-2.svg);
  position: absolute;
  bottom: 41%;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slogan-3::after {
  content: url(../images/bg-section-bottom-desktop-2.svg);
  position: absolute;
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
  top: 100%;
}

.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 250px;
}

.call-to-action h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.8em;
  margin-bottom: 40px;
}

footer {
  background: #00252e;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}

footer p {
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: 30px;
}

footer h4 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .logo-light {
  margin-bottom: 20px;
}

footer .contact-container {
  width: 30%;
}

footer .newsletter-container {
  width: 50%;
}

footer .phone-number-container {
  margin-bottom: 40px;
}

footer .phone-number-container span {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  opacity: 0.7;
}

footer .phone-number-container span img {
  margin-right: 10px;
}

footer::before {
  content: url(../images/bg-footer-top-desktop.svg);
  position: absolute;
  bottom: 98%;
  width: 100%;
  left: -1%;
}

.social-icons img {
  width: 1.6rem;
  margin-right: 10px;
}

form input {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  width: 60%;
  margin-right: 20px;
  border-radius: 5px;
  border: 3px solid white;
}

form input:focus {
  outline: none;
  border: 3px solid #ff4242;
}

.subscribe-button {
  outline: none;
  border: none;
  padding: 14px 30px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#ff52bf), color-stop(#ff64c6), color-stop(#ff73cc), color-stop(#ff82d2), to(#ff8fd8));
  background: linear-gradient(to right, #ff52bf, #ff64c6, #ff73cc, #ff82d2, #ff8fd8);
  color: #ffffff;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px 5px 15px;
  }
  nav img {
    width: 45%;
  }
  nav .button-nav-light {
    padding: 8px 19px;
  }
  .hero-section {
    margin-top: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-section .main-header-text {
    font-size: 1.6em;
    margin-bottom: 25px;
  }
  .hero-section .main-body-text {
    width: 79vw;
    font-size: 0.8rem;
  }
  .hero-section .hero-section-text {
    margin-bottom: 120px;
  }
  .hero-section-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .metrics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
  }
  .metrics div {
    margin-bottom: 40px;
  }
  .metrics .card-text {
    text-align: inherit;
  }
  .metrics img {
    padding-right: 130px;
  }
  .slogan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 50px 20px;
    margin-bottom: 100px;
  }
  .slogan .slogan-img {
    margin-bottom: 60px;
  }
  .slogan img {
    width: 75%;
  }
  .slogan .slogan-text-container {
    text-align: center;
  }
  .slogan .slogan-text-container h5 {
    font-size: 1.5em;
  }
  .slogan .slogan-text-container p {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
  }
  .slogan-1::before {
    content: url(../images/bg-section-top-mobile-1.svg);
    bottom: 20%;
  }
  .slogan-1::after {
    content: url(../images/bg-section-bottom-mobile-1.svg);
  }
  .slogan-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slogan-2 .slogan-img {
    text-align: center;
  }
  .slogan-2 .slogan-text-container {
    text-align: center;
  }
  .slogan-3::before {
    content: url(../images/bg-section-top-mobile-2.svg);
    bottom: 20%;
  }
  .slogan-3::after {
    content: url(../images/bg-section-bottom-mobile-2.svg);
  }
  .slogan-3 {
    margin-bottom: 170px;
  }
  .call-to-action {
    text-align: center;
    font-size: 0.5em;
    margin-bottom: 200px;
  }
  .button-get-started {
    padding: 12px 35px;
  }
}
/*# sourceMappingURL=style.css.map */