@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

//colors
$pink: hsl(322, 100%, 66%);
$pink-light: hsl(321, 100%, 78%);
$red-light: hsl(0, 100%, 63%);
$cyan-dark: hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);
$pink-gradient: linear-gradient(to right, #ff52bf, #ff64c6, #ff73cc, #ff82d2, #ff8fd8);
$shadow: -4px 2px 26px -1px rgba(0, 0, 0, 0.24);


//fonts
$open-sans-font: 'Open Sans',
sans-serif;
$poppins: 'Poppins',
sans-serif;

//media-query breakpoints
$mobile-width: "only screen and (max-width: 600px)";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-size: 18px;
}


body {
    color: $cyan-dark;
}


//navigation

nav {
    padding: 40px 60px 20px 60px;
    display: flex;
    justify-content: space-between;

    .button-nav-light {
        background: none;
        font-family: $open-sans-font;
        font-weight: 600;
        color: $pink-light;
        border: 1px solid $pink;
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: $shadow;
        white-space: nowrap;
    }

}


//hero-section

.hero-section {

    text-align: center;
    margin-top: 20%;
    margin-bottom: 100px;

    .main-header-text {
        font-family: $poppins;
        font-weight: 700;
        font-size: 3em;
        margin-bottom: 40px;
    }

    .hero-section-text {
        margin-bottom: 80px;
        justify-content: center;


    }

    .main-body-text {
        font-family: $open-sans-font;
        margin: 0 auto;
        opacity: 0.7;
        font-weight: 600;
        width: 45vw;
        margin-bottom: 40px;
    }

}

.button-get-started {
    background: $pink-gradient;
    color: #ffffff;
    font-family: $open-sans-font;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 15px 50px;
    box-shadow: $shadow;
}



//metric section

.metrics {
    display: flex;
    justify-content: space-evenly;
    // margin-top: 80px;
    margin-bottom: 200px;

    .card-text {
        text-align: center;
    }

    h1 {
        font-family: $open-sans-font;
        font-weight: 700;
        font-size: 4em;
        margin-bottom: 10px;
    }

    p {
        font-family: $open-sans-font;
        font-weight: 700;
        opacity: 0.5;
    }
}



//slogan section

.slogan {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 60px;
    align-items: center;
    margin-bottom: 200px;

    .slogan-text-container {

        h5 {
            font-family: $poppins;
            font-weight: 700;
            font-size: 2em;
            margin-bottom: 20px;
        }

        p {
            font-family: $open-sans-font;
            font-weight: 600;
            text-align: justify;
            width: 70%;
            opacity: 0.7;
        }
    }

    .slogan-img {
        text-align: center;
    }

    img {
        height: auto;
        width: 50%;
    }
}

.slogan-1,
.slogan-3 {
    background: $pale-blue;
    position: relative;
}

.slogan-1::before {
    content: url(../images/bg-section-top-desktop-1.svg);
    position: absolute;
    bottom: 40%;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.slogan-1::after {
    content: url(../images/bg-section-bottom-desktop-1.svg);
    position: absolute;
    display: inline-block;
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    top: 100%;
}


.slogan-2 .slogan-img {
    text-align: left;
}


.slogan-3::before {
    content: url(../images/bg-section-top-desktop-2.svg);
    position: absolute;
    bottom: 41%;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.slogan-3::after {
    content: url(../images/bg-section-bottom-desktop-2.svg);
    position: absolute;
    display: inline-block;
    width: 100%;
    // height: 100%;
    overflow-x: hidden;
    top: 100%;
}


//call to actin section

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;

    h4 {
        font-family: $poppins;
        font-weight: 700;
        font-size: 2.8em;
        margin-bottom: 40px;
    }
}


//footer

footer {
    background: $cyan-dark;
    font-family: $open-sans-font;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
        font-weight: 600;
        opacity: 0.8;
    }

    h4 {
        font-size: 1.7em;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .logo-light {
        margin-bottom: 20px;
    }

    .contact-container {
        width: 30%;
    }

    .newsletter-container {
        width: 50%;
    }
}


//media query for mobile
@media #{$mobile-width} {

    nav {
        align-items: center;
        padding: 30px 15px 5px 15px;

        img {
            width: 45%;
        }

        .button-nav-light {
            padding: 8px 19px;
        }
    }

    .hero-section {
        margin-top: 40%;
        padding-left: 20px;
        padding-right: 20px;

        .main-header-text {
            font-size: 1.6em;
            margin-bottom: 25px;
        }

        .main-body-text {
            width: 79vw;
            font-size: 0.8rem;
        }

        .hero-section-text {
            margin-bottom: 120px;
        }
    }

    .hero-section-img {
        img {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    .metrics {
        flex-direction: column;
        text-align: center;
        margin-bottom: 150px;

        div {
            margin-bottom: 40px;
        }

        .card-text {
            text-align: inherit;
        }

        img {
            padding-right: 130px;
        }
    }

    .slogan {
        flex-direction: column-reverse;
        padding: 50px 20px;
        margin-bottom: 100px;

        .slogan-img {
            margin-bottom: 60px;
        }

        img {
            width: 75%;
        }

        .slogan-text-container {
            text-align: center;
            // width: 90vw;

            h5 {
                font-size: 1.5em;
            }

            p {
                width: 100%;
                text-align: center;
                font-size: 0.8em;
            }
        }
    }

    .slogan-1::before {
        content: url(../images/bg-section-top-mobile-1.svg);
        bottom: 20%;
    }

    .slogan-1::after {
        content: url(../images/bg-section-bottom-mobile-1.svg);
    }

    .slogan-2 {
        flex-direction: column;
    }

    .slogan-2 .slogan-img {
        text-align: center;
    }

    .slogan-2 .slogan-text-container {
        text-align: center;
    }

    .slogan-3::before {
        content: url(../images/bg-section-top-mobile-2.svg);
        bottom: 20%;
    }

    .slogan-3::after {
        content: url(../images/bg-section-bottom-mobile-2.svg);
    }

    .slogan-3 {
        margin-bottom: 170px;
    }

    .call-to-action {
        text-align: center;
        font-size: 0.5em;
        margin-bottom: 200px;
    }

    .button-get-started {
        padding: 12px 35px;
    }
}